:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Helvetica, sans-serif;
}



/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
.login-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #eee;
}

/* Set a style for all buttons */
.submit-button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
/* Add a hover effect for buttons */
.submit-button:hover {
  opacity: 0.8;
}

.login-container {
  padding: 16px;
  background-color: white;
  border-radius: 5px;
}

.login-form {
  border-radius: 5px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
